/*********************************************/
/* Estilizando tabelas */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

table {
    width: 600px;
    /* separate, collapse */
    border-collapse: separate;
}

th, td {
    /* border: 1px solid red; */
    padding: 7px;
}

th {
    text-transform: uppercase; /* coloca as letras em maiúsculas */
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em;
}

tr.alternado {
    background-color: #efefef;
}

tr:hover {
    background-color: #c3e6e5;
}

.numero {
    text-align: right;
}

.total {
    background-color: grey;
}