/*********************************************/
/* Estilizando formulários */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: burlywood;
}

fieldset {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
    background: #f8f8f8;
    color: black;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    cursor: pointer;
}

input[type="text"] {
    width: 20em;
}

/* 
input.radio, input.checkbox, input.submit {
    width: auto;
}
*/

.radio {
    margin-right: 1em;
}

textarea {
    width: 20em;
    height: 10em;
    max-width: 20em;
    min-width: 20em;
    min-height: 10em;;
}
